<style>
    {{  commonCSS  }}
  .table-dep { margin-bottom:40px; }
  .table-dep th:nth-child(3){ width: 120px;}
</style>
<script
  src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"
  type="text/javascript"
></script>

<script>
  const vscode = acquireVsCodeApi();
  function downloadReport() {
    vscode.postMessage({
      command: 'downloadReport',
      text: 'Download Report Now'
    });
  }

 

  window.addEventListener('message', (event) => {
    const message = event.data;
    const downloadBtn = document.getElementById('downloadLink');

    switch (message.command) {
      case 'downloadingPDFStart':
        
        if (downloadBtn) {
          downloadBtn.textContent = 'Downloading PDF...';
        }
        break;

      case 'downloadingPDFEnd':
        if (downloadBtn) {
          downloadBtn.textContent = 'Download PDF';
        }
        break;
    }
  });
</script>

<div style="display: flex">
  <h1 class="header">
    <h2 class="header">
      NPM Audit Report
      <span class="email-link header-link-actions">
        <span class="color-grey">
          &#10515; &nbsp;<a
            class="no-link"
            id="downloadLink"
            href="javascript:void(0)"
            title="Download Report in PDF Format"
            onclick="downloadReport()"
            >Download PDF</a
          ></span
        >
      </span>
    </h2>
  </h1>
</div>

<div style="border-bottom: 1px solid #8b8989; margin-bottom: 15px"></div>

<div class="content">
    <div class="content-box box box-grey">
      <div class="field-label">Application Name</div>
      <div class="field-value">{{appName}}</div>
    </div>

    <div class="content-box box box-grey">
      <div class="field-label">Version</div>
      <div class="field-value">{{appVersion}}</div>
    </div>

    <div class="content-box box box-grey">
      <div class="field-label">Description</div>
      <div class="field-value">{{appDescription}}</div>
    </div>

    <div class="content-box box box-grey">
      <div class="field-label">Packages Used</div>
      <div class="field-value">{{appTotalDep}}</div>
    </div>
  </div>
<br/>


<div class='flex'>
  <div class='text-center'>
    <h2>Vulnerabilities ({{totalVulnerabilities}})</h2>
    <div style="width: 300px;">
      <canvas id="vulnerabilities"></canvas>
    </div>
  </div>

  <div class='text-center'>
    <h2>Dependencies ({{totalDependencies}})</h2>
    <div style="width: 300px;">
      <canvas id="dependencies"></canvas>
    </div>
  </div>
</div>

<br />

<div style="border-bottom: 1px solid #8b8989; margin-bottom: 15px"></div>

<script>

const chartOptions = {
        animations: false,
        plugins: {
            legend: {
                position:'bottom',
                labels: {
                    font:{ size: 16}
                }
            }
        }
};


function showVulnerabilityChart() {
  const data = {
    labels: ['Critical ({{critical}})', 'High ({{high}})', 'Moderate ({{moderate}})','Low ({{low}})','Info ({{info}})'],
    datasets: [
      {
        label: 'Vulnerabilities',
        data: [{{vulChartDataList}}],
        backgroundColor: ['#ff2f2f','#f77a7a','#958138','#4ecd86','#6da4dd'],
      }
    ]
  };

  const config = {
    type: 'doughnut',
    data: data,
    options: chartOptions
  };

  new Chart(document.getElementById('vulnerabilities'), config);
}

function showDependencyChart() {
  const data = {
    labels: ['Dev ({{dev}})', 'Prod ({{prod}})', 'Optional ({{optional}})','Peer ({{peer}})','Peer Optional ({{peerOptional}})'],
    datasets: [
      {
        label: 'Dependencies',
        data: [{{depChartDataList}}],
        backgroundColor: ['#958138','#4ecd86','#6da4dd','#f77a7a','#7a7979'],
      }
    ]
  };

  const config = {
    type: 'doughnut',
    data: data,
    options: chartOptions
  };

  new Chart(document.getElementById('dependencies'), config);
}

showVulnerabilityChart();
showDependencyChart();


</script>
<br />
