<style>
    {{  commonCSS  }}
  .table-dep { margin-bottom:40px; }
  .table-dep th:nth-child(3){ width: 120px;}
  .no-vul { padding: 20px; background: #7bb134; text-align: center; height: 150px; display: flex; align-items: center; flex-direction: column; justify-content: center; color: #242020;}
  .no-vul .head { font-size: 40px; font-weight:bold;}
  .no-vul .sub-head { font-size: 20px; margin-top:10px;}
</style>
<script
  src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"
  type="text/javascript"
></script>

<script>
  const vscode = acquireVsCodeApi();
  function downloadReport(reportType) {
    vscode.postMessage({
        command: reportType === 'html' ? 'downloadReportAsHTML' : 'downloadReportAsPDF' ,
        text: 'Download Report Now'
     })
  }

  window.addEventListener('message', (event) => {
    const message = event.data;
    const downloadBtn = document.getElementById('downloadLink');

    switch (message.command) {
      case 'downloadingStart':
        
        if (downloadBtn) {
          downloadBtn.textContent = 'Downloading...';
        }
        break;

      case 'downloadingEnd':
        if (downloadBtn) {
          downloadBtn.textContent = 'Download as';
        }
        break;
    }
  });
</script>

<div style="display: flex">
  <h1 class="header">
    <h2 class="header">
      NPM Audit Report
      <span class='email-link header-link-actions'>
        <span class='color-grey'> <span id='downloadLink'>Download as</span>&nbsp;<a class='no-link' href='javascript:void(0)' title='Download Report in HTML Format' onclick="downloadReport('html')">HTML</a>
        |&nbsp;<a class='no-link' href='javascript:void(0)' title='Download Report in PDF Format' onclick="downloadReport('pdf')">PDF</a> </span>
      </span>
    </h2>
  </h1>
</div>

<div style="border-bottom: 1px solid #8b8989; margin-bottom: 15px"></div>

<div class="content">
    <div class="content-box box box-grey">
      <div class="field-label">Application Name</div>
      <div class="field-value">{{appName}}</div>
    </div>

    <div class="content-box box box-grey">
      <div class="field-label">Version</div>
      <div class="field-value">{{appVersion}}</div>
    </div>

    <div class="content-box box box-grey">
      <div class="field-label">Description</div>
      <div class="field-value">{{appDescription}}</div>
    </div>

    <div class="content-box box box-grey">
      <div class="field-label">Packages Used</div>
      <div class="field-value">{{appTotalDep}}</div>
    </div>
  </div>
<br/>

{{#totalVulnerabilities}}
<div>
  <div class='flex'>
    <div class='text-center'>
      <h2>Vulnerabilities ({{totalVulnerabilities}})</h2>
      <div style="width: 300px;">
        <canvas id="vulnerabilities"></canvas>
      </div>
    </div>

    <div class='text-center'>
      <h2>Dependencies ({{totalDependencies}})</h2>
      <div style="width: 300px;">
        <canvas id="dependencies"></canvas>
      </div>
    </div>
  </div>
  <br />
  <div style="border-bottom: 1px solid #8b8989; margin-bottom: 15px"></div>
  <script>
  const chartOptions = {
        animations: false,
        plugins: {
            legend: {
                position:'bottom',
                labels: {
                    font:{ size: 16}
                }
            }
        }
  };

  function showVulnerabilityChart() {
  const data = {
    labels: ['Critical ({{critical}})', 'High ({{high}})', 'Moderate ({{moderate}})','Low ({{low}})','Info ({{info}})'],
    datasets: [
      {
        label: 'Vulnerabilities',
        data: [{{vulChartDataList}}],
        backgroundColor: ['#ff2f2f','#f77a7a','#958138','#4ecd86','#6da4dd'],
      }
    ]
  };

  const config = {
    type: 'doughnut',
    data: data,
    options: chartOptions
  };

  new Chart(document.getElementById('vulnerabilities'), config);
  }

  function showDependencyChart() {
  const data = {
    labels: ['Dev ({{dev}})', 'Prod ({{prod}})', 'Optional ({{optional}})','Peer ({{peer}})','Peer Optional ({{peerOptional}})'],
    datasets: [
      {
        label: 'Dependencies',
        data: [{{depChartDataList}}],
        backgroundColor: ['#958138','#4ecd86','#6da4dd','#f77a7a','#7a7979'],
      }
    ]
  };

  const config = {
    type: 'doughnut',
    data: data,
    options: chartOptions
  };

  new Chart(document.getElementById('dependencies'), config);
  }

  showVulnerabilityChart();
  showDependencyChart();
  </script>
  <br />
</div>
{{/totalVulnerabilities}}

{{^totalVulnerabilities}}
  <div class='no-vul'>
    <div class='head'>Great! No vulnerabilities found.</div>
    <div class='sub-head'>All packages are safe to use.</div>
  </div>
  
{{/totalVulnerabilities}}



